.review {
    border-top-color: blue;
    border-top-style: dashed;
    border-top-width: 2px;
    border-right-color: blue;
    border-right-style: dashed;
    border-right-width: 2px;
    border-bottom-color: blue;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-left-color: blue;
    border-left-style: dashed;
    border-left-width: 2px;
}
